pano-near {
	&:not([hidden]) { display: block; }
	position: absolute;
	translate: -50% -50%;
	cursor: pointer;

	.icon {
		display: block;
		path {
			stroke: rgba(0, 0, 0, 0.75);
			fill: dodgerblue;
			.leaflet-marker-icon.active & { fill: orange; }
		}
	}

	&:hover .icon path { fill: orange; }
}
